[data-accordion="trigger"]{
    &[aria-expanded="true"]{
        background-color:$white;
        color:$km-primary;
        &:hover{
            background-color:$km-primary;
            color:$white;
        }
    }
    &[aria-expanded="false"]:before{
        content:"View more"
    }
    &[aria-expanded="true"]:before{
        content:"View less"
    }
}

.transform-top-50{
    transform:translateY(50px);
}