html{
    @include media-breakpoint-up(lg) {
        font-size:16px;
    }
    font-size: 14px;
}
body{
    font-size:1rem;
    background-color:$km-light-blue;
}
.col-animation{
    transition:all .08s ease-in-out;
}
.km-intro-content-left{
    @include media-breakpoint-up(xl) {
        left:20%;
    }
    @include media-breakpoint-down(md) {
        padding-top:6.875rem;
    }
    @media (min-width: 1200px) and (max-width: 1365px) { 
        left:3%;
    }
    @media (min-width: 1366px) and (max-width: 1600px) { 
        left:8%;
    }
    .km-logo-wrapper{
        @include media-breakpoint-only(lg) {
            margin-bottom:25px;
        }
    }
    .km-intro-title{
        font-size: 36px;
        font-weight: bold;
        @include media-breakpoint-only(lg) {
            font-size: 30px;
        }
        @include media-breakpoint-down(md) {
            margin-left:auto;
            margin-right:auto;
            text-align: center;
        }
    }
    
    .km-intro-slug{
        font-size: 18px;
        @include media-breakpoint-only(lg) {
            font-size: 16px;
            letter-spacing: 2px;
            margin-bottom:25px;
        }
        font-weight: 300;
        font-style: italic;
        letter-spacing: 3.3px;
        opacity: 0.6;
        @include media-breakpoint-down(md) {
            margin-left:auto;
            margin-right:auto;
            text-align: center;
        }
    }
    
    .km-intro-contact-section{
        @include media-breakpoint-down(md) {
            margin-left:auto;
            margin-right:auto;
        }
        img{
            width:18px;
            height:18px;
            @include media-breakpoint-only(lg) {
                width:14px;
                height:14px;
                transform:translateY(-1px);
            }
        }
        span{
            font-size:$font-size-lg;
            @include media-breakpoint-only(lg) {
                font-size:$font-size-sm;
            }
        }
    }

    .km-mail-btn{
        width:300px;
        height:60px;
        font-size:$font-size-lg;
        display: flex;
        justify-content: center;
        align-items:center;
        @include media-breakpoint-down(md) {
            margin-left:auto;
            margin-right:auto;
            margin-bottom: 30px;
        }
        @include media-breakpoint-only(lg) {
            width:250px;
            height:40px;
            margin-top:0;
        }
    }

}
#video-play-icon{
    fill: #fff!important;
}
.km-intro-content-right{
    .km-intro-content-video-title{
        color:$white;
        font-size: $font-size-base;
        font-weight:bolder;
        @include media-breakpoint-up(lg){
            position:absolute;
            top:15%;
            left:42%;
        }
        @media (min-width: 992px) and (max-width: 1439px) { 
            left:37%;
            top:14%;
        }
        @media (min-width: 1400px) and (max-width: 1550px) { 
            left:40%;
        }
    }
    .km-intro-content-video{
        display:none;
        opacity:1;
        transition:all .3s ease-in-out;
        position: relative;
        width: 100%;
        height: 41%;
        // background: rgba(0,0,0,.6);
        left: 0%;
        // top: 20%;
        @include media-breakpoint-up(lg){
            position: absolute;
            width: 47%;
            height: 41%;
            background: rgba(0,0,0,.6);
            left:31%;
            top:20%;
        }
        .play-icon{
            background-color:$km-primary;
            padding:10px 20px;
            border-radius:4px;
        }
        .km-more-videos{
            position:absolute;
            bottom:-17%;
            background: rgba(0,0,0,.6);
            @media (min-width: 1200px) and (max-width: 1440px) { 
                bottom:-19%;
                background-color: transparent;
            }
            @include media-breakpoint-only(lg) { 
                bottom:-21%;
                background-color: transparent;
            }
            @include media-breakpoint-up(lg) {
                background-color: transparent; 
            }
            @include media-breakpoint-down(sm){
                bottom:0;
            }
            width:100%;
            padding-top:.5rem;
            padding-bottom: .5rem;
            font-size: $font-size-xs;
            visibility: visible;
            opacity:1;
            .km-more-videos-list{
                display: flex;
                margin-bottom: 0;
                padding-left:0;
                justify-content: space-around;
                .km-video-btn{
                    width:25px;
                    height:25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color:#fff;
                    background-color:$km-grey;
                    transition:all .3s ease-in-out;
                    font-size:$font-size-xs;
                    padding: 0;
                    border-radius: 9999px;
                    &:hover{
                        background-color: $km-primary;
                        color:$white;
                    }
                    &.active{
                        background-color: $km-primary;
                        color:$white;
                    }
                }
            }
        }

    }
}

.km-section-promo{
    padding-top: 6.875rem;
}
.km-main-content{
    @extend .km-section-promo;
    .km-section-offer-title{
        @include media-breakpoint-up(lg) {
            margin-bottom:5rem;
        }
        @include media-breakpoint-down(lg) {
            text-align: center;
        }
        margin-bottom:3rem;
    }
    
    .km-text-box{

        &.odd{
            @include media-breakpoint-up(lg) {
                padding-left: 1.5rem;
                padding-right: 6.875rem;
            }
        }
        &.even{
            @include media-breakpoint-up(lg) {
                padding-right: 2rem;
                padding-left: 5rem;
            }
        }
        .km-text-box-heading{
            margin-bottom:40px;
            color:$km-grey;
            font-weight:600;
            @include media-breakpoint-down(md) {
                margin-left:auto;
                margin-right:auto;
                text-align: center;
            }
        }
        .km-text-box-paragraph{
            font-size:$font-size-sm;
            color:$km-light-grey;
            @include media-breakpoint-down(md) {
                margin-left:auto;
                margin-right:auto;
                text-align: center;
            }
        }
        .km-text-box-card{
            border:none;
            margin:0 auto;
            @include media-breakpoint-up(lg) {
                width:80%;
            }
            
        }
        
        .view-more-btn{
            @include media-breakpoint-down(sm) {
                width:80%;
                margin-left:auto;
                margin-right:auto;
                text-align: center;
                display: block;
                margin-bottom:5rem;
            }
        }
    }
}


.disclaimer-logo{
    @include media-breakpoint-down(md) {
        margin-left:auto;
        margin-right:auto;
    }
}

.km-footer{
    background-color:$km-secondary;
    padding-top:1.25rem;
    padding-bottom:1.25rem;
    .nav-link{
        font-weight:500;
    }
    p{
        opacity: 0.4;
        color:$km-light-blue;
        font-size: $font-size-xs;
    }
}

.help-section{
    position:fixed;
    right:-356px;
    width:450px;
    top:40%;
    z-index: 10;
    @include media-breakpoint-down(lg) {
        right:-390px;
    }
    .customer-service-icon{
        width: 100px;
        @include media-breakpoint-down(lg) {
            width: 70px;
        }
    }
    .customer-service-phone-wrapper{
        background-color:$km-primary;
        color:$white;
        transition:all .3s ease-in-out;
        height: 90px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        @include media-breakpoint-down(lg) {
            height:70px;
        }
        .customer-service-title{
            font-size:$font-size-lg;
        }
        .customer-service-phone{
            font-size:$font-size-sm;
        }
        .customer-service-email{
            font-size:$font-size-sm;
        }
        &:hover{
            transform:translateX(-280px);
            background-color:$white;
            .customer-service-icon{
                color:$km-primary;
            }
            .customer-service-title{
                color:$km-primary;
            }
            .customer-service-phone{
                color:$km-light-grey;
            }
        }
    }
    .customer-service-email-wrapper{
        background-color:$km-primary;
        color:$white;
        transition:all .3s ease-in-out;
        height: 90px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        @include media-breakpoint-down(lg) {
            height:70px;
        }
        &:hover{
            transform:translateX(-280px);
            background-color:$white;
            .customer-service-icon{
                color:$km-primary;
            }
            .customer-service-title{
                color:$km-primary;
            }
            .customer-service-email{
                color:$km-light-grey;
            }
        }
    }
}

//IE11 Fix
_:-ms-fullscreen, :root .km-logo-wrapper { 
    flex:0 0 auto; 
}

_:-ms-fullscreen, :root .km-more-videos{
    left:0;
}