a, .btn{
    outline:0;
    box-shadow:none;
    &:focus{
        outline:0;
        box-shadow:none;
    }
}
.btn-km-primary{
    background-color:$km-primary;
    color:$white;
    font-weight:bold;
    padding-left: 20px;
    padding-right: 20px;
}
