.km-navbar{
    transition: all .3s ease-in-out;
    @include media-breakpoint-down(md) {
        background-color:$white;
        box-shadow: 0px 2px 4px rgba($km-grey, .2);
    }
    .container{
        @include media-breakpoint-only(lg) {
            padding-left:0;
            padding-right:0;
            margin: 0;
        }
    }
    .navbar-toggler{
        border: 1px solid $km-primary;
        padding:0.25rem 0.5rem;
        outline:0;
        box-shadow: none;
        &:focus{
            outline:0;
            box-shadow: none;
        }
    }
    .navbar-toggler-icon{
        position:relative;
        background-image:none;
        display: flex;
        align-items: center;
        justify-content:center;
        
        i.fa{
            font-size:14px;
        }
    }
    .navbar-brand{
        color:black;
    }
    .km-navbar-items{
        .dropdown-menu{
            padding:0;
            top:90%;
            .dropdown-item{
                font-size:14px;
                &:hover{
                    background-color:$km-grey;
                    color:$white;
                }
            }
        }
        .nav-item{
            margin-left:15px;
            margin-right:0;
            padding-top:5px;
            padding-bottom:5px;
            @include media-breakpoint-down(md) {
                padding:10px 0;
                margin-left:0;
            }
            @include media-breakpoint-only(lg) {
                padding:10px 0;
                margin-left:10px;
            }
            .nav-link{
                padding:0;
                font-size:$font-size-sm;
                opacity:1;
                color: $km-whitesmoke;
                font-weight:500;
                @include media-breakpoint-down(sm) {
                    color: $km-grey;
                    font-size:$font-size-lg;
                }
                @include media-breakpoint-only(md) {
                    font-size:$font-size-xl;
                    color: $km-grey;
                }
                &:hover{
                    @include media-breakpoint-down(lg) {
                        color: $km-grey;
                    }
                    color:lighten($km-whitesmoke, 10%);
                }
                &:active{
                    @include media-breakpoint-down(lg) {
                        color: $km-grey;
                    }
                }
            }
        }
    }
    &.navbar-on-scroll{
        background-color:$white;
        box-shadow: 0px 2px 4px rgba($km-grey, .2);
        .dropdown-menu{
            .dropdown-item{
                font-size:14px;
                &:hover{
                    background-color:$km-primary;
                    color:$white;
                }
            }
        }
        .km-navbar-items{
            .nav-item{
                .nav-link{
                    color: $km-grey;
                    &:hover{
                        color:lighten($km-grey, 30%);
                    }
                }
            }
        }
    }
    .km-navbar-social{
        @include media-breakpoint-down(lg) {
            flex-direction: row;
        }
        .nav-item{
            margin-right:10px;
            .nav-link{
                padding:0;
                img{
                    @include media-breakpoint-down(lg) {
                        height: 20px;
                    }
                }
                &:hover{
                    color:darken($km-primary, 10%);
                }
            }
        }
        
    }
    .pixl-logo{
        .nav-link{
            img{
                display: block;
                @include media-breakpoint-up(xl) {
                    margin-left:45px;
                    height:40px;
                }
                @include media-breakpoint-only(lg) {
                    margin-left:20px;
                    height: 30px!important;
                }
                @include media-breakpoint-down(sm) {
                    max-width: 100%;
                    width:100%;
                    height:auto;
                    margin-left:auto;
                    margin-right:auto;
                }
                @include media-breakpoint-only(md) {
                    max-width: 100%;
                    width:30%;
                    height:auto;
                    margin-left:auto;
                    margin-right:auto;
                }
            }
        }
    }
    .dropdown-toggle{
        &:after{
            display: none;
        }
        i{
            transform:translateY(1px);
        }
    }
    @include media-breakpoint-up(lg) {
        .dropdown:hover > .dropdown-menu {
            display: block;
        }
        .dropdown > .dropdown-toggle:active {
            /*Without this, clicking will make it sticky*/
            pointer-events: none;
        }
    }

}
