body{
    font-family: 'Poppins', sans-serif;
}

.text-sm{
    font-size:$font-size-sm;
}
.text-lg{
    font-size:$font-size-lg;
}
.text-xl{
    font-size:$font-size-xl;
}
.text-xxl{
    font-size:$font-size-xxl;
}