a.link{
    border-bottom: 1px solid $km-primary;
    &:hover{
        border-bottom: 1px solid darken($km-primary, 20%);
        text-decoration: none;
    }
}
.mb-50{
    margin-bottom:3.125rem;
}

.mb-30{
    margin-bottom:1.875rem;
}
.mt-30{
    margin-top:1.875rem;
}

.my-50{
    margin-top:3.125rem;
    margin-bottom:3.125rem;
}

.my-30{
    margin-top:1.875rem;
    margin-bottom:1.875rem;
}

.ml-lg-80{
    @include media-breakpoint-up(lg) {
        margin-left:5rem;
    }
}
.box-shadow{
    box-shadow: 0 0 34px 0 rgba(0, 0, 0, 0.15);
}