$km-primary: #b1c903 !default;
$km-secondary: #323639 !default;
$km-grey: #282828 !default;
$km-light-grey: #898989 !default;
$km-light-blue: #fbfbfb !default;
$km-whitesmoke: #f2f2f2 !default;


$theme-colors: (
  "km-primary": $km-primary,
  "km-secondary": $km-secondary,
  "km-grey": $km-grey,
  "km-light-grey": $km-light-grey,
  "km-light-blue": $km-light-blue,
  "km-whitesmoke": $km-whitesmoke,
);

$font-size-xxl:  1.5rem;   //24px
$font-size-xl:   1.375rem; //22px
$font-size-lg:   1.125rem; //18px
$font-size-base: 1rem;     //16px defined in html tag
$font-size-sm:   0.875rem; //14px
$font-size-xs:   0.75rem; //12px